.cuadrado{
  display: grid;
  grid-template-columns: repeat(4, 220px); 
  gap: 130px;
  justify-content: center;
  padding: 20px 0;
  max-width: 1400px;

}

.vertodas{
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.card a {
  text-decoration: none;  
  color:white;        
  font-weight: bold;
}

.card a:hover {
  color: #267acc;         
}